<!DOCTYPE html>
<head>
	<title>{{ title }}</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		var socket;
		function killio(){
			socket.disconnect();
			console.log('killed io')
		}		
		function leave(){
			socket.on('join', function(msg) {
				$('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
			});;
			console.log('leave io')
		}		
		function connect(){
			socket = io.connect('http://10.0.1.154:8088' + namespace, {reconnect:false});
			socket.on('connect', function() {
				socket.emit('my event', {data: 'I\'m connected!'});
			});
			socket.on('my response', function(msg) {
				$('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
			});;
			console.log('connect io')
		}		
		$(document).ready(function(){
			namespace = '/test'; 
			socket = io.connect('http://10.0.1.154:8088' + namespace, {reconnect:false});
			socket.on('connect', function() {
				socket.emit('my event', {data: 'I\'m connected!'});
			});
			socket.on('my response', function(msg) {
				$('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
			});
			console.log(socket)

		});
	</script>      
</head>

<body>
	<h1>Hello main2, World!</h1>
	<button onclick="killio()">kill io</button>
	<button onclick="leave()">leave</button>
	<button onclick="connect()">connect</button>
	<h2>The date and time on the server is: {{ time }}</h2>
    <h1>Flask-SocketIO Test</h1>
        <h2>Receive:</h2>
    <div id="log"></div>	
    <script type="text/javascript">

    </script>
</body>
</html>